* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

main#app {
    font-family: Helvetica, Arial, "Century Gothic", sans-serif;
    font-weight: 100;
}

#options > label {
    display: block;
    margin-bottom: 10px;
}

label > label {
    margin-left: 5px;
}

nav {
    margin-top: 50px;
    margin-left: 150px;
}

nav > button {
    padding: 2.5px;
}

main#app > div {
    margin-top: 20px;
    margin-left: 150px;
}

main#app > div > div {
    margin-bottom: 15px;
}

h1 {
    margin-bottom: 30px;
}

h2 {
    margin-top: 15px;
    margin-bottom: 20px;
}

h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

p {
    margin-bottom: 15px;
}

input[type="button"] {
    font-size: 20px;
}
